<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   <servlet>
        <servlet-name>vote</servlet-name>
        <servlet-class>controller.vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otpcheck</servlet-name>
        <servlet-class>controller.otpcheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dash</servlet-name>
        <servlet-class>controller.dash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>controller.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindash</servlet-name>
        <servlet-class>controller.admindash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guideline</servlet-name>
        <servlet-class>controller.guideline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appeal</servlet-name>
        <servlet-class>controller.appeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>picture</servlet-name>
        <servlet-class>controller.picture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showimage</servlet-name>
        <servlet-class>controller.showimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regis2</servlet-name>
        <servlet-class>controller.regis2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showimage2</servlet-name>
        <servlet-class>controller.showimage2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vote</servlet-name>
        <url-pattern>/Login_v9/vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otpcheck</servlet-name>
        <url-pattern>/Login_v9/otpcheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Login_v9/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dash</servlet-name>
        <url-pattern>/dashboard/dash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/Login_v9/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindash</servlet-name>
        <url-pattern>/lattes-template/admindash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guideline</servlet-name>
        <url-pattern>/lattes-template/guideline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/Login_v9/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appeal</servlet-name>
        <url-pattern>/Login_v9/appeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>picture</servlet-name>
        <url-pattern>/Login_v9/picture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showimage</servlet-name>
        <url-pattern>/showimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regis2</servlet-name>
        <url-pattern>/Login_v9/regis2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showimage2</servlet-name>
        <url-pattern>/lattes-template/showimage2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
